* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    position: absolute;
    background-color: black;
}

main {
    height: 100vh;
    display: flex;
    padding: 20px;
    background-image: url('../assets/background.png');
    background-size: cover;
    background-position: center;
}

main::before{
    content: "";
    background-color: rgba(0, 0, 0, 0.7); /* Cor branca com 50% de opacidade */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

aside {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

aside img {
    margin-bottom: 10.75rem;
}

.icon {
    display: flex;
    flex-direction: column;
}

.active-icon {
    fill: #FF0100;
}

svg {
    width: 30%;
    margin-bottom: 2rem;
    fill: aliceblue;
    cursor: pointer;
}


svg:hover {
    fill: #ff0000c6;
}


/*Section Leader */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.leader {
    position: relative;
    color: white;
    z-index: 1;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 2;
    background: #FF0100;
}

h1 {
    margin-top: 2.5rem;
    color: #FF0100;
    font-size: 2.25rem;
}

.text-avatar {
    width: 4rem;
    height: 4rem;
    display: flex;
    margin-right: 1rem;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-size: 1.5rem;
    border-radius: 50%;
    /*border: solid 1px #00D816;*/
}

table {
    width: 60rem;
    margin-right: 11.5rem;
    color: #a0a0a0;
    border-collapse: separate;
    border-spacing: 5px 10px;
}

table thead tr {
    height: 6rem;
}

table thead tr th:nth-child(1) {
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table thead tr th:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;
}

table thead tr th:nth-child(2) {
    width: 34.375rem;
}

table tbody tr td {
    background-color: #13151681;
    padding: 1.5rem 0 1.5rem 0;
    gap: 100;
}

table tbody tr td:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

table tbody tr td:nth-child(1) {
    padding-left: 2rem;
}

table tbody tr td:nth-child(3) {
    width: 12rem;
    padding-left: 4rem;
}

table tbody tr td:nth-child(4) {
    padding-left: 3rem;
}

.text-avatar {
    margin-left: 1.3rem;
}

.content-user {
    display: flex;
    align-items: center;
}

.image-wod {
    margin-right: 7.188rem;
}


